@import "./utils/variables";
@import "./base/base";

h1 {
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	font-weight: 700;
	color: $color_1;
}

@import "./components/carrusel";
@import "./components/nav";
@import "./components/footer";

body {
	background-color: $background-color_2;
	position: relative;
	min-height: 100vh;
	margin: 0;
}

@import "./pages/index";
@import "./pages/contacto";
@import "./pages/campeonatoycalendario";
@import "./components/menu-id";
@import "./pages/scuderiasypilotos";
@import "./pages/coches";

@media only screen and (max-width: 1530px){
@import "./pages/index1530px";
@import "./pages/campeonatoycalendario-1530px";
@import "./pages/scuderiasypilotos-1530px";
@import "./pages/coches1530px";

@import "./components/menu-id1530px";
@import "./components/nav1530px";
@import "./components/footer1530px";
}

@media only screen and (max-width: 999px) {
@import "./pages/index999px";
@import "./pages/campeonatoycalendario999px";
@import "./pages/scuderiasypilotos999px";
@import "./pages/coches999px";
@import "./pages/contacto999px";


@import "./components/nav999px";
@import "./components/footer999px";
@import "./components/menu-id999px";
}
@media only screen and (max-width: 699px){
@import "./pages/index699px";
@import "./pages/campeonatoycalendario699px";
@import "./pages/scuderiasypilotos699px";
@import "./pages/coches699px";
@import "./pages/contacto699px";


@import "./components/nav699px";
@import "./components/footer699px";
@import "./components/menu-id699px";

}
@media only screen and (max-width: 520px) {
	.nav__ul {
		display: none;
	}
	

	h1 {
		text-align: center;
		font-size: 50px;
		padding-top: 50px;
		font-weight: 700;
		color: $color_1;
	}
@import "./components/slider-movil";
@import "./components/menu-id-movil";
@import "./components/nav-movil";
@import "./components/footer-movil";

@import "./pages/index-movil";
@import "./pages/campeonatoycalendario-movil";
@import "./pages/scuderiasypilotos-movil";
@import "./pages/coches-movil";
@import "./pages/contacto-movil";
}
