@import "./utils/variables";
@import "./base/base";

h1 {
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	font-weight: 700;
	color: $color_1;
}

@import "./components/carrusel";
@import "./components/nav";
@import "./components/footer";

body {
	background-color: $background-color_2;
	position: relative;
	min-height: 100vh;
	margin: 0;
}

@import "./pages/index";
@import "./pages/contacto";
@import "./pages/campeonatoycalendario";
@import "./components/menu-id";
@import "./pages/scuderiasypilotos";
@import "./pages/coches";

@media only screen and (max-width: 1530px){
@import "./pages/index1530px";
@import "./pages/campeonatoycalendario-1530px";
@import "./pages/scuderiasypilotos-1530px";
@import "./pages/coches1530px";

@import "./components/menu-id1530px";
@import "./components/nav1530px";
@import "./components/footer1530px";
}


@media only screen and (max-width: 520px) {
	.nav__ul {
		display: none;
	}
	

	h1 {
		text-align: center;
		font-size: 50px;
		padding-top: 50px;
		font-weight: 700;
		color: $color_1;
	}
@import "./components/slider-movil";
@import "./components/menu-id-movil";
@import "./components/nav-movil";
@import "./components/footer-movil";

@import "./pages/index-movil";
@import "./pages/campeonatoycalendario-movil";
@import "./pages/scuderiasypilotos-movil";
@import "./pages/coches-movil";
@import "./pages/contacto-movil";
}
