$color_1: #FFFFFF;
$color_2: #FFFEF7;
$color_3: #003340;
$color_4: crimson;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #0B8F8D;
$background-color_2: #00120A;
$background-color_3: #015958;
$background-color_4: #023535;
$background-color_5: #002E1B;
$background-color_6: #003821;
$background-color_7: #004736;
$background-color_8: #00382B;
$background-color_9: #0A7876;
$border-color_1: #01FEBF;
