.footer-container {
    i {
        color: $color_2;
        font-size: 16px;
        padding: 6px;
        margin: 4px;
    }
    a {
        color: $color_2;
        font-size: 15px;
        font-weight: 300;
    }
}
.span-text {
    height: 20vh;
    width: 22vh;
    color: $color_2;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
}
h3 {
    font-weight: 500;
    color: $color_2;
    font-size: 22px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
}
.text-copy {
    color: $color_2;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 20px;}