.slider {
    width: 310px;
    height: auto;
    margin: 60px auto 0;
    overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 13s infinite alternate ease-in-out;
    }
    li {
        width: 50%;
        list-style: none;
    }
    img {
        width: 100%;
        border-radius: 6px;
    }
}